
<h2 class=" text-center">@ViewBag.Title.</h2>
<h3 class=" text-center">@ViewBag.Message</h3>
<p><a class="btn btn-default" href="/Veiculos/Adicionar"> Adicionar &raquo;</a></p>
<br />
<table class="table table-success table-striped">
    <tr>
        <th>Marca / Fabricante</th>
        <th>Modelo</th>
        <th>Fabricação</th>
        <th>Cor</th>
        <th>Combustivel</th>
        <th>Automatico</th>
        <th>Valor</th>
        <th>Proprietário</th>
        <th>Acao</th>
        <th>Acao</th>
    </tr>
    @foreach (var item in ViewBag.Lista)
    {
<tr>
    <td class="text-left">@item.Nome</td>
    <td class="text-left">@item.Modelo</td>
    <td>@item.Fabricacao</td>
    <td>@item.Cor</td>
    <td>@item.Combustivel</td>
    <td>@item.Automatico</td>
    <td>@item.Valor</td>
    <td><a href="/ProprietariosVeiculos/Index/@item.Proprietario.Id"> @item.Proprietario.Nome</a></td>
    <td><a href="/Veiculos/Alterar/@item.Id"> Alterar</a></td>
    <td><a href="/Veiculos/Excluir/@item.Id"> Excluir</a></td>
</tr>
    }

</table>

<p>Use this area to provide additional information.</p>
